<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="桌面特效小工具.MyApp" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <桌面特效小工具.MyApp>
            <setting name="Path_background" serializeAs="String">
                <value>BackGround//2.png</value>
            </setting>
            <setting name="ClockStyle" serializeAs="String">
                <value>UiDesign</value>
            </setting>
            <setting name="AlwaysAblove" serializeAs="String">
                <value>False</value>
            </setting>
        </桌面特效小工具.MyApp>
    </userSettings>
</configuration>