<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="桌面特效小工具.MyApp" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="桌面特效小工具.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <桌面特效小工具.MyApp>
            <setting name="Path_background" serializeAs="String">
                <value>BackGround//2.png</value>
            </setting>
            <setting name="ClockStyle" serializeAs="String">
                <value>UiDesign</value>
            </setting>
            <setting name="AlwaysAblove" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="userNoDoThing" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Light" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="userPwd" serializeAs="String">
                <value>123</value>
            </setting>
            <setting name="DeskLoop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DeskStyle" serializeAs="String">
                <value>蒲公英</value>
            </setting>
            <setting name="Time_Locked" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="AutoThread" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AdminType" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="City" serializeAs="String">
                <value>福州</value>
            </setting>
            <setting name="City_Info" serializeAs="String">
                <value />
            </setting>
            <setting name="AlwaysMin" serializeAs="String">
                <value>False</value>
            </setting>
        </桌面特效小工具.MyApp>
    </userSettings>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <桌面特效小工具.Properties.Settings>
            <setting name="桌面特效小工具_cn_com_webxml_www_WeatherWebService" serializeAs="String">
                <value>http://www.webxml.com.cn/WebServices/WeatherWebService.asmx</value>
            </setting>
        </桌面特效小工具.Properties.Settings>
    </applicationSettings>
</configuration>